button, button[type="disabled"], button[disabled="disabled"], .button, .button.disabled{
	width: 210px;
	display: inline-block;
	overflow: hidden;
	padding: 0.8rem 2rem;
	color: $white;
	font-family: 'moonbold';
	background-color: transparent;
	border: solid 3px $white;
	@include css-transition($fast-transition);
	&:hover, &:active, &:focus{
			background-color: transparent;
			color: $white;
	}
	&.dark{
		color: $jumbo;
		background-color: $white;
		border: solid 3px $jumbo;
		&:hover, &:active, &:focus{
				background-color: $oil;
				color: $white;
				border: solid 3px $oil;
		}
	}
}
@media #{$large-up}{
	.button, .button.disabled{
		color: $white;
		background-color: transparent;
		&:hover, &:active, &:focus{
				background-color: $white;
				color: $oil;
		}
	}
}
