.reveal-modal-bg {
	background: rgba(0,0,0,0.8);
}
.reveal-modal{
	border: none;
	box-shadow: none;
   position: absolute;
   border-radius: 0;
	.scrollable-content{
		overflow-y: scroll;
		height: 100%;
		padding: 60px 0;
	}
	a.close-reveal-modal {
		top: 1.3rem;
		right: 1.7rem;
		font-size: 3rem;
      @include css-transition($fast-transition);
      z-index: 999999999999;
      &:hover, &:active{
         color: $oil;
      }
	}
	p{
		margin-top: 15px;
	}
	.lt-ie9 {
		.reveal-modal {
		}
	}
}

@media #{$medium-up}{
   .reveal-modal{
      border-radius: $global-radius;
   }
}
@media #{$large-up}{
   html.modal-open {
       overflow: hidden;
   }
}
